@model IEnumerable<Ski_Service_Applikation.angebot>

@{
    ViewBag.Title = "Angebote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-dark text-white my-5 p-2">
    <h2>Angebote</h2>

    <p>
        Hier finden Sie unsere Angebote

        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <div class="container row text-dark">


        @foreach (var item in Model)
        {
            // Cards mit Hinzufüg Button
            <div class="card bg-light col-md-6 m-2" style="width:400px">
                <img class="card-img-top" src="~/Images/Category/@{@Html.DisplayFor(modelItem => item.kategorie.Kategorie1)}.jpg" onerror="this.src='../Images/Category/noprev.jpg';" alt="Kein Vorschaubild Vorhanden">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.kategorie.Kategorie1) von
                        @Html.DisplayFor(modelItem => item.marke.Marke1)
                    </h4>
                    <p class="card-text">Preis Pro Tag: @Html.DisplayFor(modelItem => item.Preis_pro_Tag) CHF</p>
                    @Html.ActionLink("Add", "Add", "Warenkorb", new { id = item.Angebot_ID }, new { @class = "add" })
                </div>
            </div>
            @*@Html.DisplayFor(modelItem => item.Preis_pro_Tag)

            @Html.DisplayFor(modelItem => item.kategorie.Kategorie1)

            @Html.DisplayFor(modelItem => item.marke.Marke1)*@

        }
    </div>
</div>

@*



    @model IEnumerable<Ski_Service_Applikation.angebot>

    @{
        ViewBag.Title = "Angebote";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container bg-dark text-white my-5 p-2">
        <h2>Angebote</h2>

        <p>
            Hier finden Sie unsere Angebote

            @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table table-striped table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Preis_pro_Tag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.kategorie.Kategorie1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.marke.Marke1)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    // Cards mit Hinzufüg Button
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preis_pro_Tag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kategorie.Kategorie1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marke.Marke1)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Angebot_ID }, new { @class = "edit" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Angebot_ID }, new { @class = "view" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Angebot_ID }, new { @class = "delete" })|
                            @Html.ActionLink("Add", "Add", "Warenkorb", new { id = item.Angebot_ID }, new { @class = "add" })

                        </td>
                    </tr>
                }
            </table>
            </div>

            *@

