@model Ski_Service_Applikation.miete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_in.cshtml";
}
<div class="container bg-dark text-white my-5 p-2">
    <h2>Details</h2>

    <div>
        <h4>miete</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Miet_Datum)
            </dt>

            <dd>
                @Model.Miet_Datum.ToString("d")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rueckgabe_Datum)
            </dt>

            <dd>
                @Model.Rueckgabe_Datum.ToString("d")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Menge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Menge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Koerpergroesse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Koerpergroesse)
            </dd>

            <dt>
                Altersgruppe
            </dt>

            <dd>
                @Html.DisplayFor(model => model.altersgruppe.Altersgruppe1)
            </dd>

            <dt>
                Angebot
            </dt>

            <dd>
                @Html.ActionLink("Details", "Details", "Angebot", new { id = Model.Angebot_ID }, null)
            </dd>

            <dt>
                Geschlecht
            </dt>

            <dd>
                @Html.DisplayFor(model => model.geschlecht.Geschlecht1)
            </dd>

            <dt>
                Kunde Email/Link
            </dt>

            <dd>
                @Html.ActionLink(Model.kunde.Email, "Details", "Kunde", new { id = Model.Kunde_ID }, null)
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status.Status1)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Miete_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>