@model Ski_Service_Applikation.miete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>miete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Miet_Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miet_Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rueckgabe_Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rueckgabe_Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koerpergroesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koerpergroesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.altersgruppe.Altersgruppe1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altersgruppe.Altersgruppe1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.angebot.Angebot_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.angebot.Angebot_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geschlecht.Geschlecht1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geschlecht.Geschlecht1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kunde.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.Status1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Miete_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
