@model IEnumerable<Ski_Service_Applikation.mitarbeiter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_in.cshtml";
}

<div class="container bg-dark text-white my-5 p-2">



    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-dark">
        <tr>
            <th>
                username
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
               Password
            </th>
            <th>
               Berechtigungsstufe
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vorname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nachname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.berechtigungsstufe.Berechtigungsstufe1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Mitarbeiter_ID }, new { @class = "edit" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Mitarbeiter_ID }, new { @class = "view" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Mitarbeiter_ID }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>

</div>