@model Ski_Service_Applikation.kunde



@{
    ViewBag.Title = "Registrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-dark text-white my-5 p-2">

    <h2>Registrieren</h2>

    <p>
        Bitte registrieren Sie sich.
    </p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal">
            <h4>kunde</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="anmeldung">
                <div class="form-group row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="anmeldung">
                <div class="form-group row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="anmeldung">
                <div class="form-group row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="anmeldung">
                <div class="form-group row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="anmeldung">
                <div class="form-group row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <br>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Registrieren" class="btn btn-success" />
                </div>
            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Login", "Index", "Login")
    </div>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
