@model Ski_Service_Applikation.angebot

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>angebot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Preis_pro_Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preis_pro_Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marke)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete")
    @Html.ActionLink("Back to List", "Index", "Angebot")
</p>
